body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 10px;
  min-height: 100vh;
}

.header {
  grid-column: 1 / span 2;
  grid-row: 1;
  padding: 20px;
  background-color: #dff0fd;
  color: #1e3a5e;
}

.sidebar {
  grid-column: 1;
  grid-row: 2 / span 4;
  padding: 20px;
  background-color: #b0d4f1;
  border-radius: 8px;
}

.main {
  grid-column: 2;
  grid-row: 2 / span 4;
  padding: 20px;
  background-color: #ecf2f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
  grid-column: 1 / span 2;
  grid-row: 5;
  padding: 10px;
  background-color: #1e3a5e;
  color: white;
  text-align: center;
}

h1,
h2,
h3 {
  margin-top: 0;
}

.section {
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

article {
  margin-bottom: 20px;
}

em {
  font-style: italic;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.profile-img {
  width: 100px;
  margin-left: 20px;
}

.icon-img {
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
